In [18]:
import pandas as pd

df = pd.read_csv('C:/Users/joeyg/Downloads/inclassbus.csv')
print(df.head())

   EVENT_NO_TRIP  EVENT_NO_STOP            OPD_DATE  VEHICLE_ID  METERS  \
0      259172515      259172517  15FEB2023:00:00:00        4223      40
1      259172515      259172517  15FEB2023:00:00:00        4223      48
2      259172515      259172517  15FEB2023:00:00:00        4223      57
3      259172515      259172517  15FEB2023:00:00:00        4223      73
4      259172515      259172517  15FEB2023:00:00:00        4223     112

   ACT_TIME  GPS_LONGITUDE  GPS_LATITUDE  GPS_SATELLITES  GPS_HDOP
0     20469    -122.648137     45.493082              12       0.7
1     20474    -122.648240     45.493070              12       0.8
2     20479    -122.648352     45.493123              12       0.8
3     20484    -122.648385     45.493262              12       0.7
4     20489    -122.648347     45.493582              12       0.8

In [19]:
df2 = df.drop(columns=['EVENT_NO_STOP'])
print(df2.head())

   EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0      259172515  15FEB2023:00:00:00        4223      40     20469
1      259172515  15FEB2023:00:00:00        4223      48     20474
2      259172515  15FEB2023:00:00:00        4223      57     20479
3      259172515  15FEB2023:00:00:00        4223      73     20484
4      259172515  15FEB2023:00:00:00        4223     112     20489

   GPS_LONGITUDE  GPS_LATITUDE  GPS_SATELLITES  GPS_HDOP
0    -122.648137     45.493082              12       0.7
1    -122.648240     45.493070              12       0.8
2    -122.648352     45.493123              12       0.8
3    -122.648385     45.493262              12       0.7
4    -122.648347     45.493582              12       0.8

In [21]:
df3 = df2.drop(columns=['GPS_SATELLITES', 'GPS_HDOP'])
print(df3.head())

   EVENT_NO_TRIP  EVENT_NO_STOP            OPD_DATE  VEHICLE_ID  METERS  \
0      259172515      259172517  15FEB2023:00:00:00        4223      40
1      259172515      259172517  15FEB2023:00:00:00        4223      48
2      259172515      259172517  15FEB2023:00:00:00        4223      57
3      259172515      259172517  15FEB2023:00:00:00        4223      73
4      259172515      259172517  15FEB2023:00:00:00        4223     112

   ACT_TIME  GPS_LONGITUDE  GPS_LATITUDE
0     20469    -122.648137     45.493082
1     20474    -122.648240     45.493070
2     20479    -122.648352     45.493123
3     20484    -122.648385     45.493262
4     20489    -122.648347     45.493582

In [47]:
from datetime import datetime
from datetime import timedelta
import pandas as pd
import numpy as np

dataf = pd.read_csv('C:/Users/Mr. Grinch/Downloads/inclassbus.csv', usecols = ['EVENT_NO_TRIP','OPD_DATE','VEHICLE_ID', 'METERS', 'ACT_TIME', 'GPS_LONGITUDE', 'GPS_LATITUDE'])
dataf2 = dataf
print(dataf.head())

   EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0      259172515  15FEB2023:00:00:00        4223      40     20469
1      259172515  15FEB2023:00:00:00        4223      48     20474
2      259172515  15FEB2023:00:00:00        4223      57     20479
3      259172515  15FEB2023:00:00:00        4223      73     20484
4      259172515  15FEB2023:00:00:00        4223     112     20489

   GPS_LONGITUDE  GPS_LATITUDE
0    -122.648137     45.493082
1    -122.648240     45.493070
2    -122.648352     45.493123
3    -122.648385     45.493262
4    -122.648347     45.493582

In [48]:

def applystrp(opd_date, act_time):
    format_data = "%d%b%Y:%H:%M:%S"
    act_time = int(act_time)
    hours = act_time // 3600
    minutes = (act_time % 3600) // 60
    seconds = act_time % 60
    deltavalue = timedelta(hours=hours, minutes=minutes, seconds=seconds)

    timestamp = datetime.strptime(opd_date, format_data) + deltavalue
    return timestamp

dataf['TIMESTAMP'] = dataf.apply(lambda x: applystrp(x['OPD_DATE'], x['ACT_TIME']), axis=1)
print(dataf.head())

   EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0      259172515  15FEB2023:00:00:00        4223      40     20469
1      259172515  15FEB2023:00:00:00        4223      48     20474
2      259172515  15FEB2023:00:00:00        4223      57     20479
3      259172515  15FEB2023:00:00:00        4223      73     20484
4      259172515  15FEB2023:00:00:00        4223     112     20489

   GPS_LONGITUDE  GPS_LATITUDE           TIMESTAMP
0    -122.648137     45.493082 2023-02-15 05:41:09
1    -122.648240     45.493070 2023-02-15 05:41:14
2    -122.648352     45.493123 2023-02-15 05:41:19
3    -122.648385     45.493262 2023-02-15 05:41:24
4    -122.648347     45.493582 2023-02-15 05:41:29

In [49]:
dataf3 = dataf2.drop(columns=['OPD_DATE', 'ACT_TIME'])
print(dataf3.head())

   EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0      259172515        4223      40    -122.648137     45.493082
1      259172515        4223      48    -122.648240     45.493070
2      259172515        4223      57    -122.648352     45.493123
3      259172515        4223      73    -122.648385     45.493262
4      259172515        4223     112    -122.648347     45.493582

            TIMESTAMP
0 2023-02-15 05:41:09
1 2023-02-15 05:41:14
2 2023-02-15 05:41:19
3 2023-02-15 05:41:24
4 2023-02-15 05:41:29

In [50]:
if 'SPEED' in dataf3.columns:
    dataf3.drop('SPEED', axis=1, inplace=True)

dataf3.insert(len(dataf3.columns), "SPEED", int)
print(dataf3.head())

   EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0      259172515        4223      40    -122.648137     45.493082
1      259172515        4223      48    -122.648240     45.493070
2      259172515        4223      57    -122.648352     45.493123
3      259172515        4223      73    -122.648385     45.493262
4      259172515        4223     112    -122.648347     45.493582

            TIMESTAMP          SPEED
0 2023-02-15 05:41:09  <class 'int'>
1 2023-02-15 05:41:14  <class 'int'>
2 2023-02-15 05:41:19  <class 'int'>
3 2023-02-15 05:41:24  <class 'int'>
4 2023-02-15 05:41:29  <class 'int'>

In [56]:
def calculateSpeed(meters, time):
    # Check if either meters or time is NaN or NaT
    if pd.isna(meters) or pd.isna(time):
        return np.nan
    elif time == 0:
        return 0
    else:
        miles = meters * 0.000621371
        # Convert time to hours
        hours = time / 3600
        # Calculate speed in mph
        speed_mph = miles / hours
        return speed_mph

diff_meters = dataf3['METERS'].diff()
diff_time = dataf3['TIMESTAMP'].diff().dt.total_seconds()

# Drop existing columns if they exist
dataf3.drop(['dMETERS', 'dTIMESTAMP'], axis=1, errors='ignore', inplace=True)

dataf3['dMETERS'] = diff_meters
dataf3['dTIMESTAMP'] = diff_time

# Calculate speed for each row
dataf3['SPEED'] = dataf3.apply(lambda row: calculateSpeed(row['dMETERS'], row['dTIMESTAMP']), axis=1)

print(dataf3.head())

   EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0      259172515        4223      40    -122.648137     45.493082
1      259172515        4223      48    -122.648240     45.493070
2      259172515        4223      57    -122.648352     45.493123
3      259172515        4223      73    -122.648385     45.493262
4      259172515        4223     112    -122.648347     45.493582

            TIMESTAMP      SPEED  dMETERS  dTIMESTAMP
0 2023-02-15 05:41:09        NaN      NaN         NaN
1 2023-02-15 05:41:14   3.579097      8.0         5.0
2 2023-02-15 05:41:19   4.026484      9.0         5.0
3 2023-02-15 05:41:24   7.158194     16.0         5.0
4 2023-02-15 05:41:29  17.448098     39.0         5.0

In [57]:
dataf4 = dataf3.drop(columns=['dMETERS', 'dTIMESTAMP'])
print(dataf4.head())

   EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0      259172515        4223      40    -122.648137     45.493082
1      259172515        4223      48    -122.648240     45.493070
2      259172515        4223      57    -122.648352     45.493123
3      259172515        4223      73    -122.648385     45.493262
4      259172515        4223     112    -122.648347     45.493582

            TIMESTAMP      SPEED
0 2023-02-15 05:41:09        NaN
1 2023-02-15 05:41:14   3.579097
2 2023-02-15 05:41:19   4.026484
3 2023-02-15 05:41:24   7.158194
4 2023-02-15 05:41:29  17.448098

In [58]:
dataf4.describe()

,EVENT_NO_TRIP,VEHICLE_ID,METERS,GPS_LONGITUDE,GPS_LATITUDE,SPEED
count,161.0,161.0,161.000000,161.000000,161.000000,160.000000
mean,259172515.0,4223.0,3589.186335,-122.666642,45.514643,16.166794
std,0.0,0.0,1810.681478,0.010093,0.010566,9.888606
min,259172515.0,4223.0,40.000000,-122.677585,45.493070,0.000000
25%,259172515.0,4223.0,1933.000000,-122.675990,45.503155,8.500355
50%,259172515.0,4223.0,4165.000000,-122.669730,45.517902,14.316388
75%,259172515.0,4223.0,5208.000000,-122.660792,45.523190,24.270751
max,259172515.0,4223.0,5918.000000,-122.647997,45.528065,38.922679

In [ ]:
]